{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deuxieme home page</title>
  <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
    <p class='para1'>!!! WEBSITE UNDERCONSTRUCTION !!! </p>
     <div class="bgimg">
  <div class="topleft">
    <p>Logo</p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <p class="date">Today we are {{date|date:"d F Y H:i:s"}}</p>
  </div>
  <div class="bottomleft">
    <p>By Leyss@re </p>
  </div>
</div>
</body>
</html>